@model List<Prestamo.Models.PrestamoModel>;
@{
    
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styleañadir.css">
</head>

<body>
    <div id="container">
        <h1>Consulta de Libro</h1>

        <form id="search-form">
            <label for="title">Buscar prestamo:</label>
            <input type="search" id="title" />
            <a asp-action="ConsultarLi" asp-controller="LibrosCrud" id="search" class="btn btn-warning btn-sm">BUSCAR LIBRO</a>

            <a asp-action="AñadirLi" asp-controller="LibrosCrud" id="search-button" class="btn btn-warning btn-sm">Añadir</a>
            @*<button type="submit" id="search-button">Buscar</button>*@


            <h2>Resultados de la Búsqueda</h2>
            <table id="book-table">
                <thead>
                    <tr>
                        
                        <th>Título</th>
                        <th>Usuario</th>
                        <th>Cantidad</th>
                        <th>Fecha de prestamo</th>
                        <th>Fecha de Entrega</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@Html.DisplayFor(modelItem=>item.Titulo)</td>
                            <td>@Html.DisplayFor(modelItem=>item.IdUsuario)</td>
                            <td>@Html.DisplayFor(modelItem=>item.Cantidad)</td>
                            <td>@Html.DisplayFor(modelItem=>item.Fecha_de_Prestamo)</td>
                            <td>@Html.DisplayFor(modelItem=>item.Fecha_de_Entrega)</td>


                            <td>
                                @*<a asp-action="ModificarLi" asp-controller="LibrosCrud" asp-route-IdLibro="@item.IdLibro"  class="btn btn-warning btn-sm">Modificar</a>
                                <a asp-action="ModificarLi" asp-controller="LibrosCrud" asp-route-IdLibro="@item.IdLibro" class="btn btn-warning btn-sm">Editar</a>
                                <a asp-action="EliminarLi" asp-controller="LibrosCrud" asp-route-IdLibro="@item.IdLibro" class="btn btn-danger btn-sm">Eliminar</a>
                                *@
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </form>
        <div>
            <a asp-action="Index" asp-controller="LibrosCrud" class="btn btn-warning btn-sm">volver</a>

        </div>

    </div>
</body>
</html>