@model List<CrudLibro.Models.LibroModel>;
@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

    <body>

            <center>
                <div class="m-2 py-2 btn animate__animated animate__rubberBand" style="font-family: sans-serif;">
                    <h2>Inicio</h2>
                </div>
            </center>
            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="./img/Enfermeria.jpg" alt="">
                                <div class="card-body">
                                    @foreach (var item in Model)
                                    {
                                
                                    }

                                    @*
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@Html.DisplayFor(modelItem=>item.Nombre)</td>
                                            <td>@Html.DisplayFor(modelItem=>item.Autor)</td>
                                            <td>@Html.DisplayFor(modelItem=>item.Cantidad)</td>
                                        </tr>
                                    }*@

                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a asp-action="Pedir" asp-controller="Home" class="btn btn-primary">Detalles</a>
                                        </div>
                                        <a  class="btn btn-success">Pedir</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="./img/Enfermeria.jpg" alt="">
                                <div class="card-body">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem=>item.Nombre)</td>
                                            <td>@Html.DisplayFor(modelItem=>item.Autor)</td>
                                            <td>@Html.DisplayFor(modelItem=>item.Cantidad)</td>

                                        </tr>
                                    }
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                        <a asp-action="Pedir" asp-controller="Home" class="btn btn-primary" id="Segunda">Detalles</a>
                                        </div>
                                        <a href="javascript:abrir4()" class="btn btn-success">Pedir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="./img/Enfermeria.jpg" alt="">
                                <div class="card-body">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem=>item.Nombre)</td>
                                            <td>@Html.DisplayFor(modelItem=>item.Autor)</td>
                                            <td>@Html.DisplayFor(modelItem=>item.Cantidad)</td>
                                        </tr>
                                    }
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                        <a asp-action="Pedir" asp-controller="Home" class="btn btn-primary" id="Segunda">Detalles</a>
                                        </div>
                                        <a href="javascript:abrir4()" class="btn btn-success">Pedir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="./img/Enfermeria.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">El Programador pragm&aacute;tico</h5>
                                    <p class="card-text">Autor:Robert C.Martin </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="javascript:abrir2()" class="btn btn-primary" id="Segunda">Detalles</a>
                                        </div>
                                        <a href="javascript:abrir4()" class="btn btn-success">Pedir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </body>

</html>
